*{
     margin: 0;
    padding: 0;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
}

.red{
    background-color: red;
    z-index: 2;
}

.green{
    background-color: green;
    top: 20px;
    left: 20px;
    z-index: 1;
    
}

.blue{
    background-color: blue;
    top: 30px;
    left: 30px;
    z-index: 0;
}

.wrapper {
    background-color: black;
    height: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
   
}

.wrapper a{
    text-decoration: none;
    color: white;
}

img{
    position: absolute;
}